<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Amida_RomCard>
            <version>1.0.0.2</version>
        </Amida_RomCard>
    </modules>
    <global>
        <helpers>
            <romcard>
                <class>Amida_RomCard_Helper</class>
            </romcard>
        </helpers>
        <models>
            <romcard>
                <class>Amida_RomCard_Model</class>
            </romcard>
        </models>
        <resources>
            <romcard_setup>
                <setup>
                    <module>Amida_RomCard</module>
                </setup>
            </romcard_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <romcard>
                <use>standard</use>
                <args>
                    <module>Amida_RomCard</module>
                    <frontName>romcard</frontName>
                </args>
            </romcard>
        </routers>
        <translate>
            <modules>
                <Amida_RomCard>
                    <files>
                        <default>Amida_RomCard.csv</default>
                    </files>
                </Amida_RomCard>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Amida_RomCard>
                    <files>
                        <default>Amida_RomCard.csv</default>
                    </files>
                </Amida_RomCard>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <romcard>
                        <model>romcard/observer</model>
                        <method>setPaymentFormTemplate</method>
                    </romcard>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Amida_RomCard after="Mage_Adminhtml">Amida_RomCard_Adminhtml</Amida_RomCard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <romcard>
                <active>1</active>
                <model>romcard/paymentMethod</model>
                <order_status>pending</order_status>
                <title>RomCard</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <description><![CDATA[Оплата товаров]]></description>
                <log_enabled>1</log_enabled>
                <order_status_new><![CDATA[pending_payment]]></order_status_new>
                <order_status_success><![CDATA[paid]]></order_status_success>
                <order_status_failed><![CDATA[payment_failed]]></order_status_failed>
                <order_status_reversal><![CDATA[payment_reversal]]></order_status_reversal>
                <order_status_hold><![CDATA[payment_refunds_on_hold]]></order_status_hold>
                <is_dev>0</is_dev>

                <merchant_id>0000000Q0000104</merchant_id>
                <merchant_name><![CDATA[Ovico-Parfum S.R.L.]]></merchant_name>
                <merchant_url><![CDATA[www.ovico.md]]></merchant_url>
                <terminal_id>Q0000104</terminal_id>
                <salt_key><![CDATA[AA9E3BD52BAA0963703E3CD75BAC67A1]]></salt_key>
            </romcard>
        </payment>
    </default>
</config>