<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Amida_RomCard>
            <version>1.0.0</version>
        </Amida_RomCard>
    </modules>
    <global>
        <helpers>
            <romcard>
                <class>Amida_RomCard_Helper</class>
            </romcard>
        </helpers>
        <models>
            <romcard>
                <class>Amida_RomCard_Model</class>
            </romcard>
        </models>
        <resources>
            <romcard_setup>
                <setup>
                    <module>Amida_RomCard</module>
                </setup>
            </romcard_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <romcard>
                <use>standard</use>
                <args>
                    <module>Amida_RomCard</module>
                    <frontName>romcard</frontName>
                </args>
            </romcard>
        </routers>
        <translate>
            <modules>
                <Amida_RomCard>
                    <files>
                        <default>Amida_RomCard.csv</default>
                    </files>
                </Amida_RomCard>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Amida_RomCard>
                    <files>
                        <default>Amida_RomCard.csv</default>
                    </files>
                </Amida_RomCard>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <romcard>
                <active>1</active>
                <model>romcard/paymentMethod</model>
                <order_status>pending</order_status>
                <title>RomCard</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <description><![CDATA[Оплата товара(ов): {{var products}}]]></description>
                <log_enabled>1</log_enabled>
                <order_status_new><![CDATA[pending_payment]]></order_status_new>
                <order_status_success><![CDATA[paid]]></order_status_success>
                <order_status_failed><![CDATA[payment_failed]]></order_status_failed>
                <is_dev>0</is_dev>
            </romcard>
        </payment>
    </default>
</config>